<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <connectionStrings>
    <add name="db_quanLyThi"  connectionString="Data Source=DESKTOP-C1VSI5K\SQLEXPRESS;Initial Catalog=quanLyCoiThiChamThi2;Integrated Security=True" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>

</configuration>


